@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #F2F2F2;
}

.main-content {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #756157;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.button-transparent {
  background-color: rgba(256,256,256,0);
}

.button-blue {
  background: #82B3D3;
}

.button-green {
  background: #7DB54F;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.subscription-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
}

.navigation-list {
  width: 600px;
}

.navigation .navigation-list-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-list {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.navigation-item {
  text-align: center;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.hero {
  color: #FFFFFF;
  background-color: #82B682D9;
  background-image: url("../images/background/background-hero.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-heading {
  display: block;
  margin: 0 auto;
}

.control {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.select-control {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.frame {
  font-weight: 700;
  text-align: center;
}

.frame-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.frame-description {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item {
  width: 400px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-blue .advantages-description {
  color: #FFFFFF;
}

.advantages-blue {
  display: flex;
  width: 100%;
  color: #FFFFFF;
  background: #82B3D3;
}

.image-container {
  display: flex;
  align-items: stretch;
}

.advantages-light-blue {
  background: rgba(131, 179, 211, 0.12);
}
.advantages-gray {
  background: rgba(131, 179, 211, 0.2);
}

.quantity-hotel {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search {
  text-align: center;
}

.subscription {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/background/background-subscription.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscription-transparent {
  color: #000000;
  background-color: #FFFFFF;
  background-image: none;
}

.footer-social {
  color: #000000;
  background-color: #FFFFFF;
}

.contacts-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-card-link {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.hotel-card-type {
  color: #333333;
}

.hotel-card-price {
  color: #333333;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.stars {
  background-color: #FFFFFF;
  background-image: url("../images/graphics/star.svg");
  background-repeat: no-repeat;
}

.catalog-filter-container {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.catalog-filter-container-left {
  display: flex;
  justify-content: space-between;
  width: 370px;
}

.catalog-filter-container-right {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.catalog-filter-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.main-inner {
  background-color: #FFFFFF;
  background-image: url("../images/background/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title-container {
  padding: 0 70px;
}

.inner-header-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  color: #FFFFFF;
}

.sorting-container {
  display: flex;
}

.hotel-catalog {
  display: flex;
}

.pagination {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-item {
  background: #82B3D3;
  text-align: center;
  border-radius: 4px;
}

.pagination-item-current {
  background: #F2F2F2;
}

.pagination-item-unwrap {
  background: #FFFFFF;
}

.pagination-link {
  text-decoration: none;
}

.page-footer {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  width: 240px;
}

.contacts {
  margin: 0 auto;
}

.website {
  width: 150px;
}
